.Message {
  width: 80%;
  margin: 1rem auto;
}
.Message__input {
  width: 100%;
  padding: 0.5rem;
  background: white;
  color: black;
  border: 0;
  border-radius: 10px;
  font-size: 1rem;
  outline: 0;
  transform: height 3s;
}
.Message_reply_delete{
border:none;
background: initial;
cursor: pointer;
font-weight: bolder;
color: purple;
position: absolute;
right: 0;
top: 0;
padding-right: 10px;
padding-top: 5px;
}

.Message_reply{
  background: rgba(86.3, 84.7, 83.9,0.1);
  border-radius:4px;
  border:0.5px solid rgba(89.8, 85.5, 83.9,0.2);
  border-left: 4px solid #7a37a5;
  margin:0.5rem;
  padding: 1rem 0.5rem;
  text-overflow: ellipsis;
  color: black;
  font-size: 0.8em;
  overflow: hidden;
  word-wrap: break-word;
  position: relative;
  display:none;
}
.show{
  display: block!important;
}

.Message_input_box{
  height: 100%;
  display: flex;
  flex-direction:column;
  justify-content: space-between;
  background: white;
 /* border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;*/
  border-radius: 10px;
}
.Message_reply_name{
  margin:0;
  padding: 0.2rem 0;
  font-weight: bolder;
  color: #7a37a5;
}